.project-card {
  margin-top: 1.5rem;
  padding: 1.8rem;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.project-card {
  padding: 20px;
  background: #a3afd3;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.8s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}


