.navbar {
  width: 100%;
  background: #0f172a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
 
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Hamburger */
.hamburger {
  position: absolute;
  right: 20px;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: absolute;
  right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links li a:hover {
  color: #38bdf8;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #0f172a;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}
